<!doctype html>
<html lang="es">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <% if (!error) { %>
        <h1>¡Gracias! Has votado por <%= selectedOption %>.</h1>
      <% } else { %>
        <h1>Lo siento, ya has votado.</h1>
      <% } %>
    </div>
  </body>
</html>
