<!doctype html>
<html lang="es">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <div>
        <img class="logo" src="/images/frontfest-logo.svg">
      </div>
      <form action="/vote" method="post">
        <div class="group">
          <label class="label">Introduce tu localizador</label>
          <input type="text" class="input" name="ticketId" placeholder="xxxx-x-xxxx"/>
          <button type="submit" class="button">
            <img src="/images/ok.svg">
          </button>
          <p>
            <strong>Puedes encontrar el localizador bajo el código QR en el PDF de Koliseo.</strong>
          </p>
          <p>
            El localizador se utilizará únicamente para comprobar que se posee una entrada válida y evitar la duplicidad del voto.
            No se relacionará en ningún caso con la opción elegida, manteniendo anónimo el sentido del voto.
          </p>
          <p> 
            Más información sobre esta app y código fuente <a target="_blank" href="https://github.com/frontfest/vote">aquí</a>.
          </p>
        </div>
      </form>
    </div>
  </body>
</html>
