* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'NunitoSans';
  font-display: swap;
  src: url('../fonts/NunitoSans-Regular.woff2');
}
@font-face {
  font-family: 'NunitoSans';
  font-display: swap;
  src: url('../fonts/NunitoSans-Bold.woff2');
  font-weight: bold;
}

body {
  font: 16px "NunitoSans", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  background-color: #222;
}
a, a:visited {
  color: #F5B63F;
}
h1, h2 {
  margin: 0;
}
form {
  width: 100%;
}
.hidden {
  display: none;
}
.wrapper {
  max-width: 300px;
  width: 100%;
  padding: 25px;
  color: #dedede;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.logo {
  width: 120px;
  padding: 15px;
  margin: 30px 0;
  background: #efefef;
  border-radius: 50%;
}
.label {
  font-weight: bold;
  line-height: 40px;
}
.ticket {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ticket img {
  width: 80px;
}
.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.input, select {
  font: 22px "NunitoSans", Helvetica, Arial, sans-serif;
  background-color: #efefef;
  font-weight: bold;
  height: 50px;
  padding: 0 12px;
  border: 0;
  width: 100%;
  border-radius: 8px;
}
.button {
  margin: 20px;
  height: 80px;
  width: 100px;
  background: #F5B63F;
  border: 0;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button img {
  width: 60px;
}
